<div>
    <div id="aboutphoto">
        <img src="/images/IMG_20170328_143853.jpg" alt="" width="350px" height="500px">   <br>   
    </div>
    
    <div id="aboutmy">
      <center>
       <h1 class="aboutheading">SKILLS</h1> <br> <br>
       <h3 class="aboutpara"><b>UI Development - </b> <span>HTML, CSS, Bootstrap, JavaScript and JQuery</span></h3> <br>
       <h3 class="aboutpara"><b>MEAN Stack - </b> <span>AngularJS, MongoDB, NodeJS, ExpressJS</span></h3> <br>
       <h3 class="aboutpara"><b>Web Development Tools - </b> <span>Grunt, Bower, Yeoman, Jasmine, Karma</span></h3> <br>
       <h3 class="aboutpara"><b>Java </b></h3> <br>
       <h3 class="aboutpara"><b>C/C++</b></h3>
       </center>
    </div>
    
    <div>
        <center>
           <br><br> <br>
           <br> <br> <br>
            <h1 class="aboutheading">EDUCATIONAL DETAILS</h1> <br>
            <table class="table table-hover aboutpara">
              <tr>
                  <th class="tableheading"><b>Degree/Course</b></th>
                  <th class="tableheading"> <b>Institution </b></th>
                  <th class="tableheading"><b> University/Board </b></th>
                  <th class="tableheading"><b> Percentage </b></th>
                  <th class="tableheading"><b> Year of passing </b></th>
              </tr>
              <tr>
                  <td class="aboutparapink">Class X</td>
                  <td class="aboutparapink">Queen Mary's School</td>
                  <td class="aboutparapink">CBSE</td>
                  <td class="aboutparapink">95</td>
                  <td class="aboutparapink">2012</td>
              </tr>
              <tr>
                  <td class="aboutparapink">Class XII</td>
                  <td class="aboutparapink">DAV Pushpanjali School</td>
                  <td class="aboutparapink">CBSE</td>
                  <td class="aboutparapink">81</td>
                  <td class="aboutparapink">2014</td>
              </tr>
              <tr>
                  <td class="aboutparapink">B.Tech</td>
                  <td class="aboutparapink">Bhagwan Parshuram Institute of Technology</td>
                  <td class="aboutparapink">IPU</td>
                  <td class="aboutparapink">75.5</td>
                  <td class="aboutparapink">2018</td>
              </tr>
            </table>
        </center>
    </div>
    
    <div>
        <center>
        <br> <br>
       <h1 class="aboutheading">ACHIEVEMENTS</h1> <br>
       <h3 class="aboutpara"><b>Founder/head of society </b> &nbsp; <span> Social work society of the college, Zaria</span></h3> <br>
       <h3 class="aboutpara"><b>Member of art society </b></h3> <br>
       <h3 class="aboutpara"><b>1st position in FIT in Deutsch </b> &nbsp; <span>State level German exam</span></h3> <br>
       <h3 class="aboutpara"><b>Best prefect </b> <span>School</span> </h3> <br>
       <h3 class="aboutpara"><b>Winner in debates and speeches</b> &nbsp; <span>Interschool</span> </h3>
       </center>
    </div>
    
</div>