<div>
  <center>
   <div>
    <h1 class="portfolioheading">Zaria</h1>
    <img src="/images/zaria.png" alt="" width="800px" height="400px" class="text-center"> <br> <br>
       <p class="portofoliopara">Zaria is a website which connects the people who want to donate with the people who needs help. This website was made for the college's social work society, Zaria. It shows all the NGOs to which the society is connected.<br><b style="color:black">Skills used-</b> HTML, CSS, Bootstrap, JS and Jquery <br> <b>Link-</b> <a href="https://github.com/Ashima15/zaria ">https://github.com/Ashima15/zaria </a> </p> 
    <br> <br> <br>
   </div>    
   
   <div>
       <h1 class="portfolioheading">Find the penguins</h1>
       <img src="/images/penguins.png" alt="" width="800px" height="400px" class="text-center"> <br> <br>
       <p class="portofoliopara">Find the penguins is a game where you have to find the penguins hidden inside their nests and the score increaes. Once you find a yeti, the game is over. <br><b>Skills used-</b> HTML,CSS,Bootstrap and JS <br> <b>Link-</b> <a href="https://github.com/Ashima15/MEAN/tree/master/penguins">  https://github.com/Ashima15/MEAN/tree/master/penguins </a> </p> <br> <br> <br>
   </div>
   
   <div>
       <h1 class="portfolioheading">Friend App</h1>
       <img src="/images/friend.png" alt="" width="800px" height="400px" class="text-center"> <br> <br>
       <p class="portofoliopara">This is like a contact book where you can sort all your contacts by E-mail or name. You can also search any contact by phone no. or name or E-mail. This app is based on http server calls and filters.<br><b>Skills used-</b> HTML,CSS and AngularJS <br> <b>Link-</b> <a href="https://github.com/Ashima15/MEAN/tree/master/friendapp"> https://github.com/Ashima15/MEAN/tree/master/friendapp </a> </p> <br> <br> <br>
   </div>
   
   <div>
       <h1 class="portfolioheading">ABC App</h1>
       <img src="/images/abc.png" alt="" width="800px" height="400px" class="text-center"> <br> <br>
       <p class="portofoliopara">This is a simple website made for children to learn alphabets. Audio is added for proper pronunciation. This app is based on angular carousel<br><b>Skills used-</b> HTML,CSS and AngularJS <br> <b>Link-</b> <a href="https://github.com/Ashima15/MEAN/tree/master/abc"> https://github.com/Ashima15/MEAN/tree/master/abc </a></p> <br> <br> <br>
   </div>
  </center> 
</div>